<link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
<form class="form-register">
    <h2 class="form-register-heading">Please enter your information</h2>
    <label for="inputname" class="sr-only"></label>
       <input name="name" type="text" id="inputName" class="form-control" placeholder="Name user" required autofocus>
       <label for="inputPassword" class="sr-only"></label>
       <input name="password"  type="password" id="inputPassword" class="form-control" placeholder="Password" required>
       <br>
       <button mat-raised-button type="button">Create user</button>
</form>




</div>


<div>
    <label>Contraseña</label>
    <input type="password" placeholder="Contraseña">
</div>


<div>

    <button (click)="getAuth()">Crear usuario</button>

</div>

